body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.hero-section img{
    background-color: #252525;
}
.hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-section p {
    font-size: 1.25rem;
}

.features-section {
    background-color: #252525;
}

.features-section img {
    border-radius: 8px;
}

.footer-section {
    background-color: #1a1a1a;
}

.contact-section {
    background-color: #1f1f1f;
}

.card {
    border: none;
}

.card-body {
    padding: 2rem;
}

.form-control {
    background-color: #131212;
    border: none;
    color: #ffffff;
}

.form-control:focus {
    background-color: #444444;
    color: #ffffff;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 2px solid #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.image-container:hover .overlay {
    opacity: 1;
}

.image-container .text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
